USE [Zadanie10202]
GO
/****** Object:  Table [dbo].[Данные_партнёров]    Script Date: 26.11.2025 23:02:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Данные_партнёров](
	[Номер_партнера] [int] IDENTITY(1,1) NOT NULL,
	[Тип_партнера] [int] NULL,
	[Наименование_партнера] [nvarchar](25) NULL,
	[Директор] [nvarchar](50) NULL,
	[Электронная_почта_партнера] [nvarchar](50) NULL,
	[Телефон_партнера] [nvarchar](20) NULL,
	[Юридический_адрес_партнера] [int] NULL,
	[ИНН] [varchar](50) NULL,
	[Рейтинг] [int] NULL,
 CONSTRAINT [PK_Данные_партнёров] PRIMARY KEY CLUSTERED 
(
	[Номер_партнера] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Количества_продукции]    Script Date: 26.11.2025 23:02:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Количества_продукции](
	[Номер_поставки] [int] IDENTITY(1,1) NOT NULL,
	[Продукция] [int] NULL,
	[Наименование_партнера] [int] NULL,
	[Количество_продукции] [nvarchar](5) NULL,
 CONSTRAINT [PK_Количества_продукции] PRIMARY KEY CLUSTERED 
(
	[Номер_поставки] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Материалы]    Script Date: 26.11.2025 23:02:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Материалы](
	[Номер_материала] [int] IDENTITY(1,1) NOT NULL,
	[Наименование] [nvarchar](25) NULL,
	[Тип_материала] [int] NULL,
 CONSTRAINT [PK_Материалы] PRIMARY KEY CLUSTERED 
(
	[Номер_материала] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Материалы_продукции]    Script Date: 26.11.2025 23:02:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Материалы_продукции](
	[Номер_материала_продукции] [int] IDENTITY(1,1) NOT NULL,
	[Номер_материала] [int] NULL,
	[Номер_продукции] [int] NULL,
 CONSTRAINT [PK_Материалы_продукции] PRIMARY KEY CLUSTERED 
(
	[Номер_материала_продукции] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Продукции]    Script Date: 26.11.2025 23:02:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Продукции](
	[Номер_продукции] [int] IDENTITY(1,1) NOT NULL,
	[Тип_продукции] [int] NULL,
	[Наименование_продукции] [nvarchar](100) NULL,
	[Артикул] [varchar](20) NULL,
	[Минимальная_стоимость_для_партнера] [money] NULL,
 CONSTRAINT [PK_Продукции] PRIMARY KEY CLUSTERED 
(
	[Номер_продукции] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Типы_материалов]    Script Date: 26.11.2025 23:02:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Типы_материалов](
	[Номер_типа_материала] [int] IDENTITY(1,1) NOT NULL,
	[Тип_материала] [nvarchar](20) NULL,
	[Процент_брака_материала] [float] NULL,
 CONSTRAINT [PK_Типы_материалов] PRIMARY KEY CLUSTERED 
(
	[Номер_типа_материала] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Типы_партнёров]    Script Date: 26.11.2025 23:02:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Типы_партнёров](
	[Номер_типа_партнёров] [int] IDENTITY(1,1) NOT NULL,
	[Тип_партнёров] [nvarchar](5) NULL,
 CONSTRAINT [PK_Типы_партнёров] PRIMARY KEY CLUSTERED 
(
	[Номер_типа_партнёров] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Типы_продукции]    Script Date: 26.11.2025 23:02:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Типы_продукции](
	[Номер_типа_продукции] [int] IDENTITY(1,1) NOT NULL,
	[Тип_продукции] [nvarchar](50) NULL,
	[Коэффициент_типа_продукции] [float] NULL,
 CONSTRAINT [PK_Типы_продукции] PRIMARY KEY CLUSTERED 
(
	[Номер_типа_продукции] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Юридические_адреса]    Script Date: 26.11.2025 23:02:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Юридические_адреса](
	[Номер_юридического_адреса] [int] IDENTITY(1,1) NOT NULL,
	[Индекс] [nvarchar](6) NULL,
	[Область] [nvarchar](20) NULL,
	[Город] [nvarchar](20) NULL,
	[Улица] [nvarchar](20) NULL,
	[Дом] [int] NULL,
 CONSTRAINT [PK_Юридические_адреса] PRIMARY KEY CLUSTERED 
(
	[Номер_юридического_адреса] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Данные_партнёров] ON 

INSERT [dbo].[Данные_партнёров] ([Номер_партнера], [Тип_партнера], [Наименование_партнера], [Директор], [Электронная_почта_партнера], [Телефон_партнера], [Юридический_адрес_партнера], [ИНН], [Рейтинг]) VALUES (1, 2, N'Стройдвор', N'Андреева Ангелина Николаевна', N'angelina77@kart.ru', N'86754544545', 1, N'1234567876', 8)
INSERT [dbo].[Данные_партнёров] ([Номер_партнера], [Тип_партнера], [Наименование_партнера], [Директор], [Электронная_почта_партнера], [Телефон_партнера], [Юридический_адрес_партнера], [ИНН], [Рейтинг]) VALUES (2, 1, N'Самоделка', N'Мельников Максим Петрович', N'melnikov.maksim88@hm.ru', N'812 267 19 59', 2, N'7803888520
', 3)
INSERT [dbo].[Данные_партнёров] ([Номер_партнера], [Тип_партнера], [Наименование_партнера], [Директор], [Электронная_почта_партнера], [Телефон_партнера], [Юридический_адрес_партнера], [ИНН], [Рейтинг]) VALUES (3, 2, N'Деревянные изделия', N'Лазарев Алексей Сергеевич', N'aleksejlazarev@al.ru', N'922 467 93 83', 3, N'8430391035
', 4)
SET IDENTITY_INSERT [dbo].[Данные_партнёров] OFF
GO
SET IDENTITY_INSERT [dbo].[Количества_продукции] ON 

INSERT [dbo].[Количества_продукции] ([Номер_поставки], [Продукция], [Наименование_партнера], [Количество_продукции]) VALUES (1, 4, 1, N'2000')
INSERT [dbo].[Количества_продукции] ([Номер_поставки], [Продукция], [Наименование_партнера], [Количество_продукции]) VALUES (2, 5, 2, N'3000')
INSERT [dbo].[Количества_продукции] ([Номер_поставки], [Продукция], [Наименование_партнера], [Количество_продукции]) VALUES (3, 1, 3, N'1000')
SET IDENTITY_INSERT [dbo].[Количества_продукции] OFF
GO
SET IDENTITY_INSERT [dbo].[Материалы] ON 

INSERT [dbo].[Материалы] ([Номер_материала], [Наименование], [Тип_материала]) VALUES (1, N'Дерево', 1)
INSERT [dbo].[Материалы] ([Номер_материала], [Наименование], [Тип_материала]) VALUES (2, N'Камень', 2)
INSERT [dbo].[Материалы] ([Номер_материала], [Наименование], [Тип_материала]) VALUES (3, N'Гранит', 3)
SET IDENTITY_INSERT [dbo].[Материалы] OFF
GO
SET IDENTITY_INSERT [dbo].[Материалы_продукции] ON 

INSERT [dbo].[Материалы_продукции] ([Номер_материала_продукции], [Номер_материала], [Номер_продукции]) VALUES (1, 1, 1)
INSERT [dbo].[Материалы_продукции] ([Номер_материала_продукции], [Номер_материала], [Номер_продукции]) VALUES (2, 2, 2)
INSERT [dbo].[Материалы_продукции] ([Номер_материала_продукции], [Номер_материала], [Номер_продукции]) VALUES (3, 3, 3)
SET IDENTITY_INSERT [dbo].[Материалы_продукции] OFF
GO
SET IDENTITY_INSERT [dbo].[Продукции] ON 

INSERT [dbo].[Продукции] ([Номер_продукции], [Тип_продукции], [Наименование_продукции], [Артикул], [Минимальная_стоимость_для_партнера]) VALUES (1, 1, N'Фанера ФСФ 1800х1200х27 мм бежевая береза', N'6.54992e+006', 5100.0000)
INSERT [dbo].[Продукции] ([Номер_продукции], [Тип_продукции], [Наименование_продукции], [Артикул], [Минимальная_стоимость_для_партнера]) VALUES (2, 2, N'Мягкие панели прямоугольник велюр цвет оливковый 600х300х35 мм', N'7.01856e+006', 1880.0000)
INSERT [dbo].[Продукции] ([Номер_продукции], [Тип_продукции], [Наименование_продукции], [Артикул], [Минимальная_стоимость_для_партнера]) VALUES (3, 4, N'Бетонная плитка Белый кирпич микс 30х7,3 см', N'5.02827e+006', 2080.0000)
SET IDENTITY_INSERT [dbo].[Продукции] OFF
GO
SET IDENTITY_INSERT [dbo].[Типы_материалов] ON 

INSERT [dbo].[Типы_материалов] ([Номер_типа_материала], [Тип_материала], [Процент_брака_материала]) VALUES (1, N'Тип материала 1', 0.2)
INSERT [dbo].[Типы_материалов] ([Номер_типа_материала], [Тип_материала], [Процент_брака_материала]) VALUES (2, N'Тип материала 2', 0.5)
INSERT [dbo].[Типы_материалов] ([Номер_типа_материала], [Тип_материала], [Процент_брака_материала]) VALUES (3, N'Тип материала 3', 0.3)
SET IDENTITY_INSERT [dbo].[Типы_материалов] OFF
GO
SET IDENTITY_INSERT [dbo].[Типы_партнёров] ON 

INSERT [dbo].[Типы_партнёров] ([Номер_типа_партнёров], [Тип_партнёров]) VALUES (1, N'ЗАО')
INSERT [dbo].[Типы_партнёров] ([Номер_типа_партнёров], [Тип_партнёров]) VALUES (2, N'ООО')
INSERT [dbo].[Типы_партнёров] ([Номер_типа_партнёров], [Тип_партнёров]) VALUES (3, N'ПАО')
SET IDENTITY_INSERT [dbo].[Типы_партнёров] OFF
GO
SET IDENTITY_INSERT [dbo].[Типы_продукции] ON 

INSERT [dbo].[Типы_продукции] ([Номер_типа_продукции], [Тип_продукции], [Коэффициент_типа_продукции]) VALUES (1, N'Древесно-плитные материалы', 1.5)
INSERT [dbo].[Типы_продукции] ([Номер_типа_продукции], [Тип_продукции], [Коэффициент_типа_продукции]) VALUES (2, N'Декоративные панели', 3.5)
INSERT [dbo].[Типы_продукции] ([Номер_типа_продукции], [Тип_продукции], [Коэффициент_типа_продукции]) VALUES (3, N'Плитка', 5.25)
SET IDENTITY_INSERT [dbo].[Типы_продукции] OFF
GO
SET IDENTITY_INSERT [dbo].[Юридические_адреса] ON 

INSERT [dbo].[Юридические_адреса] ([Номер_юридического_адреса], [Индекс], [Область], [Город], [Улица], [Дом]) VALUES (1, N'565656', N'Московская', N'Одинцово', N'Ленина', 5)
INSERT [dbo].[Юридические_адреса] ([Номер_юридического_адреса], [Индекс], [Область], [Город], [Улица], [Дом]) VALUES (2, N'306230', N'Курская', N'Обоянь', N'1 Мая', 3)
INSERT [dbo].[Юридические_адреса] ([Номер_юридического_адреса], [Индекс], [Область], [Город], [Улица], [Дом]) VALUES (3, N'238340', N'Калининградская', N'Светлый', N'Морская', 12)
SET IDENTITY_INSERT [dbo].[Юридические_адреса] OFF
GO
ALTER TABLE [dbo].[Данные_партнёров]  WITH CHECK ADD  CONSTRAINT [FK_Данные_партнёров_Типы_партнёров] FOREIGN KEY([Тип_партнера])
REFERENCES [dbo].[Типы_партнёров] ([Номер_типа_партнёров])
GO
ALTER TABLE [dbo].[Данные_партнёров] CHECK CONSTRAINT [FK_Данные_партнёров_Типы_партнёров]
GO
ALTER TABLE [dbo].[Данные_партнёров]  WITH CHECK ADD  CONSTRAINT [FK_Данные_партнёров_Юридические_адреса] FOREIGN KEY([Юридический_адрес_партнера])
REFERENCES [dbo].[Юридические_адреса] ([Номер_юридического_адреса])
GO
ALTER TABLE [dbo].[Данные_партнёров] CHECK CONSTRAINT [FK_Данные_партнёров_Юридические_адреса]
GO
ALTER TABLE [dbo].[Количества_продукции]  WITH CHECK ADD  CONSTRAINT [FK_Количества_продукции_Данные_партнёров] FOREIGN KEY([Наименование_партнера])
REFERENCES [dbo].[Данные_партнёров] ([Номер_партнера])
GO
ALTER TABLE [dbo].[Количества_продукции] CHECK CONSTRAINT [FK_Количества_продукции_Данные_партнёров]
GO
ALTER TABLE [dbo].[Количества_продукции]  WITH CHECK ADD  CONSTRAINT [FK_Количества_продукции_Продукции] FOREIGN KEY([Продукция])
REFERENCES [dbo].[Продукции] ([Номер_продукции])
GO
ALTER TABLE [dbo].[Количества_продукции] CHECK CONSTRAINT [FK_Количества_продукции_Продукции]
GO
ALTER TABLE [dbo].[Материалы]  WITH CHECK ADD  CONSTRAINT [FK_Материалы_Типы_материалов] FOREIGN KEY([Тип_материала])
REFERENCES [dbo].[Типы_материалов] ([Номер_типа_материала])
GO
ALTER TABLE [dbo].[Материалы] CHECK CONSTRAINT [FK_Материалы_Типы_материалов]
GO
ALTER TABLE [dbo].[Материалы_продукции]  WITH CHECK ADD  CONSTRAINT [FK_Материалы_продукции_Материалы] FOREIGN KEY([Номер_материала])
REFERENCES [dbo].[Материалы] ([Номер_материала])
GO
ALTER TABLE [dbo].[Материалы_продукции] CHECK CONSTRAINT [FK_Материалы_продукции_Материалы]
GO
ALTER TABLE [dbo].[Материалы_продукции]  WITH CHECK ADD  CONSTRAINT [FK_Материалы_продукции_Продукции] FOREIGN KEY([Номер_продукции])
REFERENCES [dbo].[Продукции] ([Номер_продукции])
GO
ALTER TABLE [dbo].[Материалы_продукции] CHECK CONSTRAINT [FK_Материалы_продукции_Продукции]
GO
ALTER TABLE [dbo].[Продукции]  WITH CHECK ADD  CONSTRAINT [FK_Продукции_Типы_продукции] FOREIGN KEY([Тип_продукции])
REFERENCES [dbo].[Типы_продукции] ([Номер_типа_продукции])
GO
ALTER TABLE [dbo].[Продукции] CHECK CONSTRAINT [FK_Продукции_Типы_продукции]
GO
